---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Acerca de...</h1>
  <p>
  Esta página está creada por Diego Gómez como ejemplo
  del trabajo que hay que ir haciendo poco a poco en nuestra
  web.
  </p>
  <p>
  La motivación de construir esta página es la de mostrar cómo
  la Inteligencia Artificial ha evolucionado en los últimos años
  y ahora es capaz de crear composiciones visuales con diferentes
  influencias.
  </p>
</BaseLayout>