---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Homepage">
  
<h1>Badminton</h1>

<p><img class="derecha" width="50%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Olympics_2012_Mixed_Doubles_Final.jpg/1200px-Olympics_2012_Mixed_Doubles_Final.jpg" alt="Badminton" >
En esta extraesolar los alumnos practicarán este deporte de raqueta al que se esta uniendo cada vez más gente.</p>

</BaseLayout>
