---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Club de Fútbol IDEO</h1>
  <a>En esta extraesolar los alumnos practicarán este deporte de raqueta al que se esta uniendo cada vez más gente.</a>
<div class="single__player clearfix">
			<div class="row">
				<div class="col-md-4">
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Olympics_2012_Mixed_Doubles_Final.jpg/1200px-Olympics_2012_Mixed_Doubles_Final.jpg" width="100%">
			 </div>
     </div>
</div>
</BaseLayout>