---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
import Logo from '../assets/logo2.svg'
---
<BaseLayout title="Homepage">
  <h1>Introducción</h1>
  <p>Aquí os mostraremos las actividades extraescolares de Escuela IDEO.<p/>
  <p>Actividades</p>
  <div class="blog-post">
    <div class="title">Bienvenido a las extraescolares de Escuela IDEO.</div>
    <div class="content">
     <a href="/arts">
       <img class="logo" src={Logo} />    
     </a>
      <p>Mas informacion en los a apartados superiores<p/>
     

    </div>
  </div>
</BaseLayout>