---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Club de Fútbol IDEO</h1>
  <a>En esta extraesolar los alumnos pasar un buen rato jugando al deporte más practicado del mundo.</a>
<div class="single__player clearfix">
			<div class="row">
				<div class="col-md-4">
					<img src="https://www.sportcartagena.es/media/sportcartagena/images/2021/02/01/2021020118185453603.jpg" width="100%">
			 </div>
     </div>
</div>
</BaseLayout>