<div class="foot">
  <p>Proyecto para la asignatura de <b>Tecnologías de la Información y Comunicación I</b> de <b><a href="https://www.escuelaideo.edu.es">Escuela IDEO</a></b></p>
  <p>Autor de la página: Diego G</p>
  
  <div class="links">
    <ul>
      <li>
        <a href="/about">Acerca de</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/contact">Contacto</a>
      </li>
    </ul>
  </div>
</div>